@import url("https://fonts.googleapis.com/css?family=Lato");


.lato{
    font-family: 'Lato';
    font-style: 'Lato-Black';
    font-weight: 900;
}

.latoNormal{
    font-family: 'Lato';
    font-style: 'Lato-Black';
    font-weight: 400;
}

.teslaImage {
   border-radius: 5%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ctatesla {
    margin-top: 20px;
    color: white;
    width: 150px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    padding-right: 30px;
    margin-left: 4px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom:  11px;
    background-color: #416ede;
}


.headerline {
   height: 5px,
   background-color: #000000;
}

.image {
    width: 400px;
}
.text-my-own-color:hover, .text-my-own-color:active {
  color:  #dd48a3 !important; // Define your own color's darkening/lightening in your CSS
}

.navbar-nav>li{
  border-left: 1px solid #000000;
}

.faq {
    text-align: center;
    color: black;
    font-size: 16px;
    color: inherit;
    margin-right: 50px;
    margin-left: 50px;

}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.teslanavbar {
    height:40px;
}
.mynavbar {
    height:40px;
}
.teslaHeadingDialog {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 40px;
}
.teslaHeading {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.bigtextblack{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 50px;
}
.bigtextwhite{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 50px;
}
.form{
    text-align: center;

}

input, select, textarea{
    color: #FFFFFF;
}

.teslaDialog{
    display: none;
    border-radius: 40px;
    position: absolute;
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    width: 50%; /* Full width */
    height: 80%; /* Full height */
    transform: translate(-50%, -50%);
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFFFFF; /* Fallback color */
}

.teslaButton{
    text-align: center;
    background-color: #416ede;
    border-radius: 40px;
    text-align: center;
    margin-top: 16px;
    width: 400px;
}

.email{
    text-align: center;
    background-color: #222222;
    border-color: #222222;
    width: 400px;
    color: white;
    border-radius: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.email:hover, .email:focus,  .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    outline: none !important;
    border-color: #cc0000;
    color: #FFFFFF;
    background-color: #222222;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



@font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 1100;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 1100;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@media (max-width: 576px) { 
    /*SMALL*/
    .buttonview{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .teslanavbar {
        height:40px;
    }
    .bigtextwhite{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .teslaButton{
        width: 300px;
    }

    .email{
        width: 300px;
    }
    .image {
        width: 250px;
    }
    .faq {
        text-align: center;
        color: black;
        font-size: 10px;
        color: inherit;
        margin-right: 25px;
        margin-left: 25px;
    }
    .mynavbar {
        height:20px;
    }
    .cta{
    
        text-align: center;
    }
    .mytittle {
        text-align: center;
        color: black;
        font-size: 8px;
        margin-top: 40px;
    }
    margin-bottom: 20px;
    }
    .bigtext{
        text-align: center;
        color: black;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
     /*MEDIUM*/
    .buttonview{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cta{
        text-align: center;
    }
    .mytittle{
        text-align: center;
        color: black;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 40px;
    }
    .bigtext{
        text-align: center;
        color: black;
        font-size: 30px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px){
    /*LARGE*/
    .mytittle{
        color: black;
        text-align: start;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .bigtext{
        color: black;
        text-align: start;
        font-size: 80px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px){
    /*EXTRA LARGE*/
    .mytittle{
        color: black;
        text-align: start;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .bigtext{
        color: black;
        text-align: start;
        font-size: 80px;
        margin-left: 10px;
        margin-top: 10px;
    }
}
.mytittle {
    color: black;
    font-size: 10px;
    margin-top: 40px;
}
.bigtext{
    color: black;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.iconbutton{
    margin-top: 15px;
}
.cta {
    margin-top: 20px;
    color: white;
    width: 150px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    padding-right: 30px;
    margin-left: 4px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom:  11px;
    background-color: #dd48a3;
}
.cta:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #416ede;
    border-color: #416ede; /*set the color you want here*/
}
.mytittle{
    color: black;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 60px;
}

.mytittle span { 
    background-color: #36d1ff;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




 